Repository Medical-Image-Analysis-Laboratory/mialsuperresolutiontoolkit, pull requests merged in 2020-11, with the labels that each got.

#32 [DOC] Add page to list changes between versions
  documentation/changes.rst
  documentation/citing.rst
  documentation/index.rst
Labels: documentation

#42 DOC: add missing images in outputs.rst [skip ci]
  documentation/images/nipype_node_report.png
  documentation/images/nipype_wf_derivatives.png
Labels: documentation, little-effort

#47 [ENH] 41 container wrapper
  .circleci/config.yml
  .circleci/test-01_outputs.txt
  .circleci/test-02_outputs.txt
  .gitignore
  Dockerfile
  docker/bidsapp/Dockerfile
  documentation/api_commandlineinterface.rst
  documentation/contributing.rst
  documentation/index.rst
  documentation/installation.rst
  documentation/usage.rst
  pymialsrtk/cli/__init__.py
  pymialsrtk/cli/mialsuperresolutiontoolkit_bidsapp.py
  pymialsrtk/info.py
  pymialsrtk/pipelines/anatomical/srr.py
  setup.py
Labels: big-effort, documentation, enhancement

#34 [ENH] Automatic reference/stacks ordering
  .circleci/test-01_outputs.txt
  .circleci/test-02_outputs.txt
  .gitignore
  docker/bidsapp/run.py
  docker/jupyter/Dockerfile
  examples/run_docker_jupyter.sh
  notebooks/StacksOrderSelection.ipynb
  pymialsrtk/interfaces/postprocess.py
  pymialsrtk/interfaces/preprocess.py
  pymialsrtk/interfaces/reconstruction.py
  pymialsrtk/interfaces/utils.py
  pymialsrtk/pipelines/anatomical/srr.py
Labels: enhancement
